In [77]:
import pandas as pd
import ast
import json

In [78]:
data = pd.read_parquet('/home/minh/hackathon/mlops/src/model_predictor/data/captured_data/phase-1/prob-1/123.parquet')

In [79]:
data.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,feature16
0,113,9,63.17,44420,43.080594,-82.530124,15429,40.282905,-80.067555,24.265892,20,0,5,0.899255,1.268010,72.877529
1,-1,5,6.70,84015,40.951731,-112.891381,62494,40.565544,-112.367142,19.104705,23,5,7,0.751891,1.391667,76.898485

In [118]:
from tqdm import tqdm

def build_category_features(data, categorical_cols=None):
    if categorical_cols is None:
        categorical_cols = []
    category_index = {}
    if len(categorical_cols) == 0:
        return data, category_index

    df = data.copy()
    # process category features
    for col in categorical_cols:
        df[col] = df[col].astype("category")
        category_index[col] = df[col].cat.categories
        df[col] = df[col].cat.codes
    return df, category_index

def from_log_data_to_dataframe(path) -> pd.DataFrame:
    df = []
    with open(path) as f:
        data = f.readlines()
    for sample in tqdm(data):
        sample = json.loads(sample)
        input_feature = sample['rows']
        df.extend(input_feature)
    df = pd.DataFrame(df)
    mapper = {}
    for i in range(len(capture_data_prob1.columns)):
        mapper[i] = 'feature'+str(i+1)
    df = df.rename(columns=mapper)
    
    
    categorical_cols = [
        "feature2",
        "feature1"
    ],
    process_df, category_index = build_category_features(
            df, categorical_cols
        )
    return df

In [119]:
capture_data_prob1 = from_log_data_to_dataframe('log/model_1.log')

100%|███████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 237.14it/s]

In [120]:
capture_data_prob1.to_parquet('src/model_predictor/data/captured_data/phase-1/prob-1/submit.parquet')

In [121]:
len(capture_data_prob1)

100627